--acronyms ID,URL,UUID
--allman false
--anonymousforeach convert
--assetliterals visual-width
--asynccapturing 
--beforemarks 
--binarygrouping 4,8
--callsiteparen default
--categorymark "MARK: %c"
--classthreshold 0
--closingparen balanced
--closurevoid remove
--commas inline
--complexattrs preserve
--computedvarattrs preserve
--condassignment after-property
--conflictmarkers reject
--dateformat system
--decimalgrouping 3,6
--doccomments before-declarations
--elseposition same-line
--emptybraces spaced
--enumnamespaces structs-only
--enumthreshold 0
--exponentcase lowercase
--exponentgrouping disabled
--extensionacl on-extension
--extensionlength 0
--extensionmark "MARK: - %t + %c"
--fractiongrouping disabled
--fragment false
--funcattributes prev-line
--generictypes 
--groupedextension "MARK: %c"
--guardelse auto
--header ignore
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef indent
--importgrouping alpha
--indent tab
--indentcase true
--indentstrings false
--initcodernil false
--lifecycle 
--lineaftermarks true
--linebreaks lf
--markcategories false
--markextensions never
--marktypes never
--maxwidth none
--modifierorder 
--nevertrailing 
--nilinit remove
--noncomplexattrs 
--nospaceoperators 
--nowrapoperators 
--octalgrouping 4,8
--onelineforeach ignore
--operatorfunc spaced
--organizationmode visibility
--organizetypes actor,class,enum,struct
--patternlet hoist
--ranges spaced
--redundanttype explicit
--self remove
--selfrequired 
--semicolons inline
--shortoptionals always
--smarttabs enabled
--someany true
--storedvarattrs preserve
--stripunusedargs always
--structthreshold 0
--tabwidth 4
--throwcapturing 
--timezone system
--trailingclosures 
--trimwhitespace always
--typeattributes prev-line
--typeblanklines remove
--typedelimiter space-after
--typemark "MARK: - %t"
--voidtype void
--wraparguments before-first
--wrapcollections before-first
--wrapconditions before-first
--wrapeffects if-multiline
--wrapenumcases always
--wrapparameters disabled
--wrapreturntype if-multiline
--wrapternary default
--wraptypealiases before-first
--xcodeindentation enabled
--yodaswap always
--header Copyright {created.year} Felix Ruppert\n\nLicensed under the Apache License, Version 2.0 (the "License");\nyou may not use this file except in compliance with the License.\nYou may obtain a copy of the License at\n\n  http://www.apache.org/licenses/LICENSE-2.0\n\nUnless required by applicable law or agreed to in writing, software\ndistributed under the License is distributed on an "AS IS" BASIS,\nWITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\nSee the License for the specific language governing permissions and\nlimitations under the License.
--disable andOperator,anyObjectProtocol,blankLinesBetweenChainedFunctions,enumNamespaces,linebreakAtEndOfFile,redundantType,spaceAroundBrackets,spaceAroundGenerics,spaceAroundParens,spaceInsideBrackets,spaceInsideGenerics,spaceInsideParens,wrapMultilineStatementBraces
--enable acronyms,blankLinesBetweenImports,isEmpty,wrapConditionalBodies,wrapEnumCases,wrapSwitchCases